@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);

.container {
    width: 400px;
    padding: 10px;
}
.chat-box{
width: 100%;
border-radius: 5px;
display: flex;
align-items: center;
justify-content: center;
background-color: #121212;
padding: 30px 0;
margin: 50px auto;
display: none;
}
.message-blue {
    position: relative;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #ffffff;
    width: 200px;
    height: 50px;
    text-align: left;
    font: 400 .9em 'Cabin', sans-serif;
    border: 1px solid #ffffff;
    border-radius: 10px;
}

.message-orange {
    position: relative;
    margin-bottom: 10px;
    margin-left: calc(100% - 240px);
    padding: 10px;
    background-color: #ffffff;
    width: 200px;
    height: 50px;
    text-align: left;
    font: 400 .9em 'Cabin', sans-serif;
    border: 1px solid #ffffff;
    border-radius: 10px;
}
.bird{
  height: 200px;
  background-image:url('assets/meme.js');
  background-size: contain;
}
.bird-in{
  height: 90%;
  width: 100%;
  background-image:url('assets/meme.jpg');
  background-size: contain;
}
.message-content {
    padding: 0;
    margin: 0;
}

.message-timestamp-right {
    position: absolute;
    font-size: .85em;
    font-weight: 300;
    bottom: 5px;
    right: 5px;
}

.message-timestamp-left {
    position: absolute;
    font-size: .85em;
    font-weight: 300;
    bottom: 5px;
    left: 5px;
}

.message-blue:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 15px solid #ffffff;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    top: 0;
    left: -15px;
}

.message-blue:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 17px solid #ffffff;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    top: -1px;
    left: -17px;
}

.message-orange:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 15px solid #ffffff;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    bottom: 0;
    right: -15px;
}

.message-orange:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 17px solid #ffffff;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    bottom: -1px;
    right: -17px;
}
