.projects {
width: 100%;


}

.img-cont{
position:relative;
overflow: hidden;
text-decoration: none;
padding: 10px;
width: 320px;
height: 200px;
display: flex;
align-items: center;
border-radius: 10px;
box-sizing: border-box;
opacity: 0.8;
justify-content: center;
}
.img-cont img {
width: 100%;
}
.img-cont div {
position: absolute;
width: 100%;
height: 100%;
z-index: 2;
}

.proj-cont{
padding: 30px 20px;
box-sizing: border-box;
display: grid;
grid-template-columns: auto  auto;
justify-content: center;
align-items: center;
grid-gap: 50px;
}

.proj-text{
font-family: "Open Sans";
text-align: center;
margin: 15px 0;

}


.hover-state{
background-color: #121212;
width: 100%;
height: 100%;
opacity: 0;
transition: all 0.2s ease-out;
display: flex;
justify-content: center;
align-items: center;
color: #ffffff;
font-family: "Open Sans";
}

.proj:hover .hover-state{
opacity: 1;

}
