.skill {
/* height: 150px; */
width: 250px;
padding: 25px;
box-sizing: border-box;
}
.skill-img{
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 0.6;
}
.skill-title{

  color:#121212;
  text-align: center;
  font-family: "Open Sans";
  margin-bottom: 0;
}
.skill-level{
  color:#da1f26;
  text-align: center;
  font-family: "Open Sans";
  opacity: 0.6;
  margin: 0;

}
