.hero {

    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__hr {
        height: 3px;
        width: 31.25rem;
        background-color: map-get($theme, "primary");
        margin: 0 auto;
        margin-top: 1.5rem;
        border-radius: 3.125rem;
        @include media("<tablet") {
            width: 90%;
        }
    }
    &__call-to-action {
        width: 25rem;
        padding: 1.25rem;
        padding-bottom: 3.125rem;
        clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
        background-color: map-get($theme, "primary");
        margin: 0 auto;
        transform: translateY(-1px);
        @include media("<tablet") {
            width: 12.5rem;
            clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
        }
        &__title {
            font-family: map-get($fonts, "primary");
            font-weight: 400;
            text-align: center;
            color: map-get($theme, "secondary");
            @include media("<tablet") {
                font-size: 0.9rem;
            }
            span {
                font-weight: 500; 
            }
        }
        &__btn {
            &,
            &:link,
            &:active,
            &:visited {
                width: 9.375rem;
                height: 2.5rem;
                font-family: map-get($fonts, "primary");
                text-decoration: none;
                background: map-get($theme, "primary");
                color: map-get($theme, "secondary");
                border: 1px solid map-get($theme, "secondary");
                border-radius: 0.25rem;
                display: flex !important;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                margin: 0 auto;
            }
            @include hvr-slide-from-up();

        }
    }
    &__title {
        &--primary {
            text-align: center;
            font-family: map-get($fonts, "secondary");
            @include media("<tablet") {
                font-size: 1.3rem;
            }
            span {
                font-weight: 400;
            }
        }

        &--secondary {
            text-align: center;
            font-family:  map-get($fonts, "unique");
            @include media("<tablet") {
                font-size: 0.9rem;
            }
            margin: 0;
            margin-top: -1.5rem;
        }
    }

    &__circle {
        height: 7.8rem;
        width: 7.8rem;
        border-radius: 50%;
        border: 0.25rem map-get($theme, "primary") solid;
        margin: 0 auto;
        @include media("<tablet") {
            height: 5.625rem;
            width: 5.625rem;
        }
    }
}