body{
margin: 0;
padding: 0;
position: relative;

}
#particles-js{
height: 100vh;
width: 100%;
position: fixed;
z-index: -10;

}

.no_support{
  height:100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans";
  font-size: 1rem;
  display: none;
  position:absolute;
  z-index: 100;
  text-align: center;
  padding: 0 20px;
  box-sizing: border-box;
}
.everything{
  position: absolute;
  width: 100%;
  z-index: 100;
  padding-bottom: 80px;
}
.full-page-hero{
width: 100%;
height: 380px;
display: flex;
align-items: center;
justify-content: center;
flex-direction:column;


}
.circle{
height: 125px;
width: 125px;
border-radius:50%;
border: 4px #121212 solid;
margin :0 auto;
}
.contact-txt{
  font-family: "Raleway";
  font-weight: 300;
  font-size: 2rem;
  margin-top: 40px;
  text-align: center;
}

div .mini{
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 0;

}


form{
width: 600px;
display: flex;
flex-direction: column;
margin: 0 auto;
border: 2px #121212 solid;
border-radius: 8px;
position: relative;
padding: 20px;
padding-top: 100px;
background-color: rgba(0,0,0,0.1);
}

.black{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #121212;

}
label{
display: block;
font-family: Raleway;
font-size: 1.5rem;
text-align: center;
margin: 15px;


}
.space{
  height: 40px;
}

.input_feild{
background-color: rgba(0,0,0,0);
border-style: none;
border: 3px solid rgba(0,0,0,0.6);
text-align: center;
height: 35px;
border-radius: 3px;
font-family: Cabin;

}
textarea{
  background-color: rgba(0,0,0,0);
  border-style: none;
  border: 3px solid rgba(0,0,0,0.6);
  text-align: center;
  border-radius: 3px;
  resize:none;
  font-family: Cabin;
}

.input_feild:focus,textarea:focus{
outline: 0;

}


button{
background-color: rgba(0, 0, 0, 0);
width: 150px;
height: 40px;
font-family: Raleway;
font-size: 1.2rem;
text-decoration: none;
color: #121212;
border: 2px solid rgba(0,0,0,0.6);
border-radius: 3px;
cursor: pointer;
margin: 20px auto;
margin-top: 50px;


}


.project-btn-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.project-btn-hover:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #121212;

  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.project-btn-hover:hover, .project-btn-hover:focus, .project-btn-hover:active {
  color: #ffffff;
  border: 2px solid #121212;

}
.project-btn-hover:hover:before, .project-btn-hover:focus:before, .project-btn-hover:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}



@media screen and (max-width:767px) and (min-width:300px) {
  .full-page-hero{
  height: 280px;
}

  .circle{
  height: 90px;
  width: 90px;

  }

  .contact-txt{

    font-size: 1.4rem;
  }

  div .mini{

    font-size: 0.9rem;
  }

  form{
  width: 220px;
  padding-top: 60px;
  }

  .black{

    height: 40px;

  }


  label{
  font-size: 0.9rem;
  }
  .space{
    height: 20px;
  }

  .input_feild{

  height: 25px;


  }

}

@media screen and (max-width:299px) {
.everything{
  display: none;

}

.no_support{
  display: flex;
}










}
