<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Fake Name Generator</title>
  <link rel="stylesheet" href="project.css">
  <link rel="stylesheet" href="../scrollbar.css">
  <link rel="stylesheet" href="../gallery/index.css">
  <link rel="stylesheet" href="../gallery/default_skin/default_skin.css">
  <link href="https://fonts.googleapis.com/css?family=Arvo|Cabin:400,500|Raleway" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>


<body>
  <div id="particles-js">
  </div>
  <div class="all">

  </div>




  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script src="../appp.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script type="text/javascript">
    $(".read-btn").click(() => {
      $(".desc").addClass("desc-active");
      $(".read-btn").addClass("btn-deactive");
      $(".read-btn").removeClass("hvr-bounce-to-bottom");



    });
  </script>
</body>

</html>