
@import "./global/icons/style.scss";

html {
  body {
    padding: 0;
    margin: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  scroll-behavior: smooth;
  font-family: map-get($fonts, "primary"), sans-serif;
}
.site-wrapper {
  overflow-x: hidden;
  &__background {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -100;
    canvas {
      display: block;
      vertical-align: bottom;
    }
  }
  &__deep-scroll {
    position: absolute;
    height: 100000vh; 
    width: 100vw;
    top: 0;
    left: 0;
  }
  &__content {
    position: fixed;
    overflow: hidden;
    z-index: 100;
    width: 100vw;
    height: 100vh;
  }
}

.opacity-0 {
  opacity: 0;
}

.transition {
  transition: all 0.3s ease-out;
}