


html {
  body {
    padding: 0;
    margin: 0;
  }
  scroll-behavior: smooth;
}
.site-wrapper {
  &__background {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -100;
    canvas {
      display: block;
      vertical-align: bottom;
    }
  }
  &__content {
    position: relative;
    z-index: 100;
  }
}
